@import "custom";
@import "variables";
@import "home";
@import "forms";
@import "cards";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container-fluid{
  padding: 0;
}

.navbar{
  background-color: $black;
  .navbar-nav{
    .nav-link{
      color: $white;
      margin-left: 1.25rem;
      margin-right: 1.25rem;
    }
    .nav-link:hover{
      color: $yellow;
    }
    .nav-link.active{
      color: $yellow;
    }
    .nav-link:after {
      transition: all ease-in-out .2s;
      background: none repeat scroll 0 0 $yellow;
      content: "";
      display: block;
      height: 2px;
      width: 0;
    }
    .nav-link:hover:after{
      width: 100%;
    }
  }
}

.sortButton {
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.05em;
  font-weight: 500;
}

.sortButton:hover{
  color: $yellow;
}

.sortButton:active{
  color: $yellow !important;
}

.sortButton:focus{
  border: none;
  color: $yellow;
  box-shadow: none;
}

.sortButton:after {
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0 $yellow;
  content: "";
  display: block;
  height: 2px;
  width: 0;
}
.sortButton:hover:after{
  width: 100%;
}

@include media-breakpoint-only(md) {
  #profile-card-avatar{
    width: 100% !important;
  }
}

.all{
  color: $yellow;
}

.srlwrapper{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.back-button{
  background-color: $yellow;
  border: 1px solid $yellow;
  color: $black;
  border-radius: 30em;
  font-weight: 600;
  letter-spacing: 0.1em;

  &:hover {
    background-color: #c9c9d0;
    border: 1px solid #c9c9d0;
    color: $black;
  }
  &:active{
    background-color: $yellow;
    color: $black;
  }
  &:focus{
    background-color: $yellow;
    color: $black;
  }
}

.navbar-brand{
  h1{
    font-family: 'Playfair Display', serif;
  }
}

@media (max-width: 800px) {
  .navbar-brand{
    h1{
     display: none;
    }
  }
}
