@import "custom";
@import "variables";

.card {
  background-color: $greymist;
  color: $white;
  box-shadow: 3px 5px 15px $shadow;
  filter:brightness(90%);


  .card-controls {
    background-color: $grey;
    color: $white;
    border: none;
    border-radius: 50%;
    &:hover {
      background-color: #c9c9d0;
      color: #161616;
    }
  }
}

.media-card {
  filter:brightness(90%);
  &:hover {
    filter:brightness(100%);
  }
}


