@import "custom";
@import "variables";


form {
  color: $black;
  .form-label {
    font-weight: 600;
  }
  .error-message {
    color: $error;
    height: 1em;
    position: absolute;
    font-size: .8em;
    font-weight: 600;
  }
}


