@import "custom";
@import "variables";


.home-container {
  color: $white;


.banner {
  font-family: Montserrat, sans-serif;
  h1, h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    letter-spacing: 0.05em;
  }

  .banner-btn {
    background-color: $yellow;
    border: 1px solid $yellow;
    color: $black;
    border-radius: 30em;
    font-weight: 700;
    letter-spacing: 0.1em;


    &:hover {
      background-color: $white;
      border: 1px solid $white;
      color: $black;
    }
  }

  .about-button {
    background: transparent;
    border: 1px solid $white;
    color: $white;
    border-radius: 30em;
    font-weight: 700;
    letter-spacing: 0.1em;
    &:hover {
      background-color: $white;
      border: 1px solid $white;
      color: $black;
    }
  }
}
}

#about-container p, li {
  font-size: 20px;
  line-height: 1.6;

}



