@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
  url(./assets/fonts/Montserrat/Montserrat-Regular.ttf),
  url(./assets/fonts/Montserrat/Montserrat-Medium.ttf),
  url(./assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair_Display'),
    url(./assets/fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf);
}

$black: #161616;
$teal: #065A82;
$grey: #545758;
$yellow: #f6aa1c;
$white: #f8f8ff;
$greymist: #282d32;
$shadow: #1a1c21;
$error: #FF6565;



